<!-- This will display the list of students in a table format -->
<h3><a class="btn btn-secondary" href="/student">Create New</a>&ensp;Student List</h3>

<table class="table table-striped">
<thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>City</th>
    </tr>
</thead>

<tbody>
    {{#each list}}
    <!-- adding in an element that allows you to create a row for each item listed. This values are going to be pulled from the form that will be submitted -->
    <tr>
        <td>{{this.fullname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/student/{{this.id}}">Edit</a>
            <a class="btn btn-primary btn-sm" href="/student/delete/{{this.id}}" onclick="return confirm('are you sure you want to delete this record?');">Delete</a>
        </td>
    </tr>
    {{/each}} <!-- close where the row ends -->
</tbody>


</table>